In [2]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
potle = pd.read_csv(url, sep ='\t')

In [5]:
potle.item_price.dtype

dtype('O')

In [6]:
# clean the item_price column and transform it in a float
prices = [float(value[1:-1]) for value in potle.item_price]

In [7]:
prices

[2.39,
 3.39,
 3.39,
 2.39,
 16.98,
 10.98,
 1.69,
 11.75,
 9.25,
 9.25,
 4.45,
 8.75,
 8.75,
 11.25,
 4.45,
 2.39,
 8.49,
 8.49,
 2.18,
 8.75,
 4.45,
 8.99,
 3.39,
 10.98,
 3.39,
 2.39,
 8.49,
 8.99,
 1.09,
 8.49,
 2.39,
 8.99,
 1.69,
 8.99,
 1.09,
 8.75,
 8.75,
 4.45,
 2.95,
 11.75,
 2.15,
 4.45,
 11.25,
 11.75,
 8.75,
 10.98,
 8.99,
 3.39,
 8.99,
 3.99,
 8.99,
 2.18,
 10.98,
 1.09,
 8.99,
 2.39,
 9.25,
 11.25,
 11.75,
 2.15,
 4.45,
 9.25,
 11.25,
 8.75,
 8.99,
 8.99,
 3.39,
 8.99,
 10.98,
 8.99,
 1.69,
 8.99,
 3.99,
 8.75,
 4.45,
 8.75,
 8.75,
 2.15,
 8.75,
 11.25,
 2.15,
 9.25,
 8.75,
 8.75,
 9.25,
 8.49,
 8.99,
 1.09,
 9.25,
 2.95,
 11.75,
 11.75,
 9.25,
 11.75,
 4.45,
 9.25,
 4.45,
 11.75,
 8.75,
 8.75,
 4.45,
 8.99,
 8.99,
 3.99,
 8.49,
 3.39,
 8.99,
 1.09,
 9.25,
 4.45,
 8.75,
 2.95,
 4.45,
 2.39,
 8.49,
 8.99,
 8.49,
 1.09,
 8.99,
 3.99,
 8.75,
 9.25,
 4.45,
 11.25,
 4.45,
 8.99,
 1.09,
 9.25,
 2.95,
 4.45,
 11.75,
 4.45,
 8.49,
 2.39,
 10.98,
 22.5,
 11.75,
 4.45,
 11.25,
 4.45,
 11.25,
 4.45,
 11.25,
 11.25,
 11.75,
 9.25,
 4.45,
 11.48,
 17.98,
 1.69,
 17.5,
 4.45,
 8.49,
 2.39,
 17.5,
 4.45,
 4.45,
 11.25,
 11.75,
 10.98,
 8.49,
 10.98,
 2.18,
 11.48,
 8.49,
 2.39,
 4.45,
 11.25,
 11.75,
 8.75,
 8.49,
 2.18,
 8.49,
 3.39,
 8.49,
 8.99,
 10.98,
 11.48,
 8.49,
 1.09,
 1.09,
 9.25,
 8.75,
 2.95,
 9.25,
 4.45,
 11.25,
 11.48,
 8.49,
 8.49,
 8.99,
 2.39,
 11.25,
 8.75,
 2.95,
 1.09,
 8.99,
 8.49,
 2.39,
 10.98,
 1.09,
 3.99,
 11.25,
 8.75,
 8.49,
 3.39,
 8.75,
 9.25,
 2.15,
 11.25,
 11.25,
 11.25,
 4.45,
 22.5,
 4.45,
 11.75,
 8.75,
 17.5,
 8.75,
 9.25,
 8.75,
 2.15,
 9.25,
 4.3,
 8.75,
 11.25,
 2.15,
 8.99,
 1.09,
 8.99,
 3.99,
 8.75,
 2.95,
 2.95,
 11.75,
 5.9,
 9.25,
 9.25,
 11.75,
 9.25,
 2.95,
 17.5,
 8.75,
 9.25,
 10.98,
 8.99,
 1.09,
 1.09,
 1.09,
 8.99,
 10.98,
 1.09,
 8.75,
 8.75,
 9.25,
 9.25,
 8.75,
 8.75,
 8.99,
 8.99,
 8.99,
 1.09,
 11.75,
 1.25,
 8.99,
 2.39,
 9.25,
 2.95,
 8.99,
 3.99,
 8.49,
 2.39,
 8.49,
 8.49,
 8.49,
 1.69,
 8.49,
 3.99,
 8.99,
 1.69,
 1.09,
 23.78,
 17.5,
 2.15,
 8.75,
 9.25,
 9.25,
 8.75,
 4.45,
 8.75,
 11.25,
 11.25,
 1.25,
 9.25,
 4.45,
 11.25,
 11.75,
 11.75,
 6.49,
 8.99,
 2.39,
 8.49,
 2.39,
 11.25,
 8.75,
 2.15,
 8.99,
 1.69,
 8.75,
 11.25,
 2.15,
 4.45,
 8.75,
 8.49,
 8.99,
 17.5,
 8.49,
 1.09,
 1.09,
 8.75,
 1.25,
 2.15,
 11.08,
 8.49,
 8.49,
 8.99,
 2.39,
 8.75,
 2.15,
 1.5,
 11.25,
 2.15,
 8.49,
 8.49,
 11.75,
 9.25,
 11.75,
 1.25,
 11.25,
 8.75,
 4.45,
 6.49,
 9.25,
 2.95,
 11.25,
 4.45,
 1.25,
 1.25,
 8.49,
 2.39,
 2.18,
 8.49,
 2.18,
 22.16,
 17.5,
 8.75,
 2.95,
 6.49,
 8.99,
 3.39,
 3.39,
 8.99,
 8.49,
 11.25,
 2.15,
 11.25,
 2.95,
 11.25,
 1.25,
 8.99,
 1.09,
 8.75,
 8.75,
 9.25,
 2.95,
 11.75,
 1.5,
 8.99,
 1.09,
 11.25,
 1.25,
 1.25,
 11.25,
 11.75,
 2.15,
 8.99,
 1.69,
 11.75,
 6.49,
 8.75,
 9.25,
 11.25,
 4.45,
 1.25,
 11.25,
 4.45,
 8.49,
 8.99,
 8.49,
 8.99,
 11.25,
 1.25,
 11.75,
 1.25,
 11.75,
 9.25,
 4.45,
 11.25,
 2.15,
 32.94,
 1.25,
 11.25,
 11.48,
 1.69,
 1.09,
 17.5,
 4.45,
 6.49,
 9.25,
 8.75,
 9.25,
 9.25,
 8.75,
 8.75,
 2.15,
 2.95,
 17.5,
 10.98,
 11.48,
 11.48,
 3.39,
 8.99,
 1.69,
 8.99,
 1.09,
 10.98,
 3.39,
 8.99,
 1.09,
 9.25,
 8.75,
 11.25,
 4.45,
 2.95,
 9.25,
 22.2,
 8.49,
 8.99,
 8.75,
 8.75,
 11.75,
 8.75,
 11.25,
 9.25,
 11.25,
 11.25,
 8.75,
 11.25,
 2.95,
 1.25,
 8.49,
 1.69,
 11.75,
 11.25,
 8.75,
 8.75,
 4.45,
 8.49,
 3.99,
 8.49,
 3.99,
 11.48,
 1.69,
 1.09,
 11.25,
 1.5,
 10.58,
 1.69,
 9.25,
 11.25,
 8.75,
 9.25,
 11.25,
 11.25,
 8.75,
 11.75,
 8.75,
 8.75,
 8.75,
 2.15,
 11.25,
 11.75,
 2.5,
 4.45,
 9.25,
 4.45,
 11.25,
 8.49,
 3.99,
 9.25,
 9.25,
 11.25,
 9.25,
 11.75,
 11.25,
 1.25,
 23.5,
 1.25,
 8.99,
 8.49,
 7.4,
 7.4,
 8.75,
 1.25,
 4.45,
 8.75,
 2.15,
 8.75,
 4.45,
 7.4,
 7.4,
 7.4,
 8.99,
 3.99,
 8.99,
 1.69,
 8.75,
 8.75,
 8.75,
 8.75,
 11.25,
 11.25,
 2.95,
 8.75,
 18.5,
 8.49,
 3.99,
 2.95,
 9.25,
 9.25,
 3.0,
 1.25,
 8.75,
 9.25,
 4.45,
 8.75,
 11.25,
 4.45,
 10.98,
 22.16,
 4.45,
 8.75,
 9.25,
 6.49,
 9.25,
 11.25,
 8.75,
 9.25,
 2.15,
 9.25,
 4.45,
 9.25,
 2.95,
 9.25,
 8.75,
 9.25,
 1.25,
 1.25,
 8.75,
 8.75,
 9.25,
 4.45,
 11.75,
 11.75,
 11.75,
 9.25,
 9.25,
 16.98,
 2.39,
 3.39,
 3.39,
 9.25,
 11.75,
 11.25,
 2.15,
 8.75,
 9.25,
 4.45,
 10.98,
 11.25,
 9.25,
 22.5,
 9.25,
 2.95,
 1.5,
 11.48,
 8.49,
 1.69,
 8.49,
 8.49,
 8.49,
 6.78,
 11.75,
 4.45,
 8.75,
 4.45,
 11.89,
 9.39,
 8.75,
 2.95,
 1.25,
 9.25,
 8.75,
 23.78,
 8.75,
 9.25,
 2.15,
 2.15,
 1.25,
 8.49,
 3.99,
 10.98,
 1.09,
 8.75,
 4.45,
 8.75,
 11.75,
 2.95,
 4.45,
 9.25,
 8.75,
 8.49,
 3.99,
 22.5,
 11.25,
 1.25,
 8.75,
 8.75,
 18.5,
 6.49,
 8.75,
 8.75,
 4.45,
 8.49,
 3.99,
 8.99,
 1.09,
 8.49,
 2.39,
 11.48,
 1.69,
 2.5,
 9.25,
 1.5,
 17.5,
 2.95,
 8.75,
 4.45,
 11.75,
 8.75,
 8.49,
 1.69,
 8.49,
 3.99,
 8.99,
 8.99,
 3.99,
 8.99,
 11.25,
 4.45,
 1.25,
 3.99,
 10.98,
 7.4,
 3.0,
 7.4,
 4.0,
 8.49,
 3.99,
 9.25,
 4.45,
 11.25,
 1.25,
 11.75,
 1.25,
 11.25,
 2.15,
 11.25,
 4.45,
 3.75,
 11.75,
 8.99,
 2.39,
 8.75,
 4.45,
 1.25,
 8.99,
 8.49,
 2.18,
 8.49,
 2.18,
 1.09,
 8.75,
 2.95,
 1.25,
 1.5,
 11.25,
 9.25,
 2.95,
 1.25,
 8.49,
 3.99,
 11.48,
 3.99,
 8.49,
 11.25,
 1.25,
 8.99,
 1.69,
 11.25,
 1.25,
 6.49,
 8.75,
 9.25,
 8.75,
 2.95,
 8.75,
 11.75,
 8.69,
 8.69,
 2.29,
 3.99,
 8.49,
 8.75,
 8.75,
 1.25,
 11.75,
 11.25,
 11.25,
 11.25,
 1.25,
 9.25,
 11.75,
 6.49,
 3.99,
 8.49,
 11.25,
 2.15,
 11.25,
 11.89,
 8.99,
 1.69,
 8.99,
 8.99,
 3.99,
 8.99,
 9.25,
 9.25,
 2.15,
 7.4,
 7.4,
 8.75,
 8.75,
 9.25,
 4.45,
 11.25,
 1.25,
 11.75,
 11.25,
 1.25,
 3.99,
 8.49,
 8.49,
 8.49,
 8.99,
 8.75,
 2.15,
 1.25,
 8.49,
 1.09,
 1.09,
 8.75,
 2.95,
 1.25,
 9.25,
 1.25,
 2.15,
 11.25,
 1.25,
 4.45,
 8.75,
 2.5,
 8.9,
 8.75,
 8.75,
 8.75,
 11.25,
 11.25,
 10.98,
 3.99,
 10.98,
 3.99,
 1.69,
 8.99,
 9.25,
 8.75,
 8.99,
 1.09,
 9.25,
 2.95,
 8.75,
 9.25,
 3.99,
 8.49,
 8.75,
 8.75,
 22.5,
 10.98,
 3.27,
 3.99,
 8.99,
 1.09,
 11.08,
 8.75,
 4.45,
 11.08,
 3.99,
 8.49,
 4.3,
 9.25,
 8.75,
 11.25,
 11.25,
 9.25,
 8.49,
 8.99,
 8.49,
 8.75,
 2.95,
 4.45,
 9.25,
 2.95,
 9.25,
 8.75,
 11.25,
 4.45,
 16.98,
 8.49,
 2.39,
 11.25,
 3.75,
 9.25,
 4.45,
 9.25,
 9.25,
 4.45,
 8.75,
 9.25,
 8.75,
 9.25,
 9.25,
 9.25,
 11.48,
 8.99,
 22.5,
 11.75,
 11.25,
 1.25,
 8.75,
 2.15,
 1.25,
 11.25,
 8.75,
 1.25,
 11.25,
 1.5,
 11.25,
 11.25,
 9.25,
 6.49,
 8.9,
 8.75,
 4.45,
 11.25,
 1.25,
 17.5,
 9.25,
 8.75,
 11.75,
 3.0,
 8.49,
 8.49,
 10.98,
 8.99,
 3.99,
 8.75,
 4.45,
 8.99,
 1.69,
 11.75,
 8.75,
 11.25,
 4.45,
 11.75,
 1.25,
 11.75,
 2.95,
 8.99,
 8.99,
 2.18,
 17.98,
 8.99,
 8.49,
 1.69,
 11.75,
 11.25,
 2.95,
 3.75,
 9.25,
 11.75,
 8.75,
 2.15,
 1.5,
 8.49,
 8.49,
 3.39,
 8.69,
 3.89,
 8.75,
 4.45,
 8.75,
 11.25,
 2.15,
 8.75,
 8.49,
 1.69,
 8.49,
 8.49,
 1.25,
 8.75,
 11.75,
 11.75,
 8.99,
 1.09,
 8.75,
 4.45,
 8.75,
 2.95,
 8.75,
 2.15,
 3.99,
 8.49,
 8.99,
 3.99,
 8.49,
 1.69,
 1.09,
 8.99,
 1.09,
 9.25,
 8.75,
 8.99,
 2.39,
 1.25,
 1.25,
 11.25,
 11.25,
 9.25,
 9.25,
 11.25,
 1.5,
 3.99,
 8.49,
 11.25,
 9.25,
 11.25,
 17.5,
 8.75,
 8.9,
 8.75,
 8.75,
 8.99,
 2.39,
 11.25,
 9.25,
 2.15,
 11.25,
 1.25,
 11.75,
 1.25,
 11.25,
 11.75,
 1.25,
 11.25,
 11.25,
 8.49,
 10.98,
 8.75,
 1.25,
 8.75,
 ...]

In [8]:
#reassign the column with the cleaned prices
potle.item_price = prices

In [11]:
#delete the duplicates in item name and quantity
potle_filtered= potle.drop_duplicates(['item_name','quantity','choice_description'])
potle_filtered

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [13]:
#select only the products with quantity equals to 1
potle_one_prod = potle_filtered[potle_filtered.quantity == 1]
potle_one_prod

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [18]:
#lists number of distinct item prices
potle_one_prod[potle_one_prod['item_price']>10].item_name.nunique()

25

In [20]:
potle_one_prod[potle_one_prod['item_price']>10]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [22]:
#delete the duplicates in item_name and quantity
potle[(potle['item_name'] == 'Chicken Bowl') & (potle['quantity'] ==1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [24]:
#sort by the name of the item
potle.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [25]:
#sort by the name of the item
potle.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [27]:
#what was the quantity of the most expensive item ordered?
potle.sort_values(by='item_price',ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [33]:
#how many times was a veggie salad bowl ordered?
potle_salad = potle[potle.item_name == 'Veggie Salad Bowl']
len(potle_salad)

18

In [34]:
#how many times did someone order more than one canned soda?
potle_drink_steak_bowl = potle[(potle.item_name == 'Canned Soda')&(potle.quantity>1)]
len(potle_drink_steak_bowl)

20